body {
  background-color:   #d6a99d;
}


.title {
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 10px;
  background-color: #fbf3d5;
  margin: 20px 43%;
  font-size: 28px;
}

.search {
  width: 30%;
  display: inline-block;
  margin-left: 35%;
  background-color: #d6dac8;
  color: white;
  font-size: 30px;
  border: none;
  border-radius: 10px;
}

.search::placeholder {
  color: white;
  background-color: #9cafaa;
  width: 200px;
  border-radius: 10px;
  padding-left: 10px;
  margin: 10px;
  border: none;

}


.addTodo {
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 10px;
  background-color: #fbf3d5;
  margin: 20px 41%;
  font-size: 26px;
}

.todotext {
  width: 30%;
  display: inline-block;
  margin-left: 35%;
  background-color: #d6dac8;
  color: white;
  font-size: 30px;
  border: none;
  border-radius: 10px;
}

button {
  background-color: white;
  color: black;
  border-radius: 3px;
  font-size: 23px;
  display: flex;
  margin: 20px  47%;
  border: none;
}

.form-delete {
  display: grid;
  justify-content: center;
}